@model NftProject.Models.AuctionInfoModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AuctionInfoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TokenId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TokenId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimalBid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimalBid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimalBidStep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimalBidStep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
